/* Layout of the search bar in the header */

/* General positioning of the header div */
.header-container {
  margin: 0 auto;

  /* Layout of the search form element of the component */

  /* General layout */
  .search {
    align-items: flex-end;
    display: flex;
    height: auto;
    justify-content: space-between;
    margin: 2rem auto;
    width: 100%;

    /* Layout and dimensions of home button */
    .home-btn-container {

      .btn-home {
        padding: 1rem;
      }
    }

    /* Layout of the form as a whole */
    .input-form {
      align-items: center;
      display: flex;
      margin-left: 1rem;
      position: relative;

      /* Dimensions of the input field */
      .search-input {
        margin-right: 1rem;
        padding: 0.6rem;
        width: 40rem;
      }

      /* Dimensions and positioning of the search icon */
      .search-image {
        height: 3rem;
        position: absolute;
      }

      /* Dimensions of the submit button */
      .btn-submit {
        margin: 1rem;
        padding: 1rem;
      }
    }
  }
}