/* Layout of the search bar in the header */

/* General positioning of the header div */
.header-container {

  margin: 0 auto;

  /* Layout of the search form element of the component */

  /* General layout */
  .search {

    width: 100%;
    height: auto;
    display: flex;
    margin: 2rem auto;
    justify-content: space-between;
    align-items: flex-end;

    /* Layout and dimensions of home button */
    .home-btn-container {

      .btn-home {
        padding: 1rem;
      }
    }

    /* Layout of the form as a whole */
    .input-form {
      display: flex;
      margin-left: 1rem;
      align-items: center;
      position: relative;

      /* Dimensions of the input field */
      .search-input {
        width: 40rem;
        padding: 0.6rem;
        margin-right: 1rem;
      }

      /* Dimensions and positioning of the search icon */
      .search-image {
        height: 3rem;
        position: absolute;
      }

      /* Dimensions of the submit button */
      .btn-submit {
        padding: 1rem;
        margin: 1rem;
      }
    }
  }
}