/* Import to enable use of variables */
@import '../abstract/variables';

/* Styling of home page */
.home-container {
  backdrop-filter: blur(1rem);
  background-color: $light-shadow;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 3rem $mid-shadow;
  margin-top:3rem;
  padding: 2rem;
}