/* Import to enable use of variables */
@import '../abstract/variables';

/* Styling of the search bar input field in the header component */
.header-container {

  .search {

    .home-btn-container {

      .btn-home {
        color: $off-white-burgundy;
        background-color: $mid-blue;
        border: none;
        border-radius: 1rem;
        box-shadow: 1rem 1rem 3rem $solid-black,
      -1px -1px 0.5rem $light-blue;
        width: 10rem;
      }
    }

    .input-form {

      /* The input field */
      .search-input {
        background-color: $off-white-yellow;
        border: none;
        border-radius: 1rem;
        box-shadow: 0.5rem 0.5rem 3rem $mid-shadow,
        -0.5rem -0.5rem 3rem $dark-blue;
        font-size: 2rem;
        outline: none;
        text-align: center;
      }

      /* The form submit button */
      .btn-submit {
        background-color: $mid-blue;
        border: none;
        border-radius: 1rem;
        box-shadow: 1rem 1rem 3rem $solid-black,
        -1px -1px 0.5rem $light-blue;
        color: $off-white-burgundy;
        width: 10rem;
      }
    }
  }
}