/* Global reset */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Setting global font size to 1rem = 10px for ease of reference */
html {
  font-size: 62.5%;
}

/* Setting screen width for all renders */
body {
  max-width: 100vw;
}