/* Import to enable the use of variables */
@import '../abstract/_variables.scss';

/* Typography of general theme across whole app */
body {
  color: $off-white-blue;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* Typography of header */
.header-container {

  h1 {
    color: $off-white-yellow;
    font-size: 5.5rem;
    font-weight: 100;
    text-shadow: 2px 2px 4px $dark-shadow;
    text-transform: uppercase;
    word-spacing: 5px;
  }
}

/* Typography of the home page */
.home-container {

  text-shadow: 1px 1px 3px $dark-shadow;

  /* Centering of all text */
  .home-heading,
  .home-paragraph1,
  .home-paragraph2,
  .home-paragraph3 {
    text-align: center;
  }

  /* Styling of heading */
  .home-heading {
    color: $dark-yellow;
    font-size: 3rem;
    text-transform: uppercase;
  }

  /* Sizing of three paragraphs */

  .home-paragraph1 {
    color: $mid-yellow;
    font-size: 2rem;
  }

  .home-paragraph2 {
    color: $light-yellow;
    font-size: 1.8rem;
  }

  .home-paragraph3 {
    color: $off-white-yellow;
    font-size: 1.6rem;
  }
}

/* Typography of the error page */
.error {
  color: $dark-burgundy;
  font-size: 2rem;
  text-transform: uppercase;
}

/* Typography of the pagination system */
.vcs-container {

  text-align: center;

  h1 {
    font-size: 4rem;
    font-weight: 300;
    margin: 6rem 0;
    text-align: center;
    text-shadow: 1px 1px 3px $dark-shadow;
    text-transform: uppercase;
  }

  .username-link {
    text-decoration: none;
  }

  .username {
    color: $light-yellow;
    cursor: pointer;
    font-size: 2rem;
    margin: 1rem 1rem;
    text-align: center;
    text-shadow: 1px 1px 3px $dark-shadow;
    transition: all 200ms ease-in-out;

    &:hover {
      transform: scale(1.5);
    }
  }

  .web-url {
    color: $dark-yellow;
    cursor: pointer;
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 3px $dark-shadow;
    text-transform: uppercase;

    &:hover {
      color: $golden-yellow;
    }

  }

  .repo-link {
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 1px 1px 3px $dark-shadow;
    text-transform: uppercase;
  }

}

/* Typography of the repository display page page */
.repo-container {
  margin: 3rem;

  a {
    text-decoration: none;
  }

  .heading {
    text-align: center;
  }

  .heading-primary {
    color: $mid-yellow;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    transition: all 200ms ease-in-out;


    &:hover {
      transform: scale(1.5);
    }
  }

  h2 {
    color: $light-yellow;
    text-align: center;
    text-transform: uppercase;
  }

  .no-records {
    color: $off-white-yellow;
  }

  .repo-flexbox {

    .repo-wrapper {

      p {
        font-size: 1.8rem;
        text-align: left;
      }

      .repo-url {

        p {
          color: $off-white-yellow;
          transition: all 200ms ease-in-out;

          &:hover {
            transform: scale(1.5);
          }
        }
      }

      .commit-links {
        font-size: 1.4rem;
        text-align: left;
        text-transform: uppercase;
        transition: all 200ms ease-in-out;
      }
    }
  }
}

/* Typography of the commit page */
.commit-container {
  font-size: 2rem;

  p {
    font-weight: 300;

    span {
      color: $mid-yellow;
      font-weight: 700;
      margin-left: 3rem;
    }
  }
}