/* Import to enable the use of variables */
@import '../abstract/_variables.scss';

/* Typography of general theme across whole app */
body {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: $off-white-blue;
}

/* Typography of header */
.header-container {

  h1 {
    font-size: 5.5rem;
    text-transform: uppercase;
    font-weight: 100;
    color: $off-white-yellow;
    word-spacing: 5px;
    text-shadow: 2px 2px 4px $dark-shadow;
  }
}

/* Typography of the home page */
.home-container {

  /* Centering of all text */
  .home-heading,
  .home-paragraph1,
  .home-paragraph2,
  .home-paragraph3 {
    text-align: center;
  }

  /* Styling of heading */
  .home-heading {
    font-size: 3rem;
    text-transform: uppercase;
    color: $dark-yellow;
  }

  /* Sizing of three paragraphs */

  .home-paragraph1 {
    font-size: 2rem;
  }

  .home-paragraph2 {
    font-size: 1.8rem;
  }

  .home-paragraph3 {
    font-size: 1.6rem;
  }

}

/* Typography of the error page */
.error {
  font-size: 2rem;
  text-transform: uppercase;
  color: $dark-burgundy;
}

/* Typography of the pagination system */
.pagination-container {

  .pagination-item {
    letter-spacing: 1rem;
    line-height: 1.43;
    font-size: 1.3rem;
  }
}