/* Colour schema */

/* Blues */
$dark-blue: #000015;
$mid-blue: #005DB4;
$light-blue: #007CEE;
$off-white-blue: #C6C6FF;

/* Yellows */
$dark-yellow: #D8D800;
$mid-yellow: #FFFF27;
$light-yellow: #FFFF62;
$off-white-yellow: #FFFFD8;

/* Shadows */
$dark-shadow: rgba(0, 0, 0, 0.8);
$mid-shadow: rgba(0, 0, 0, 0.5);
$light-shadow: rgba(0, 0, 0, 0.2);