/* Colour schema */

/* Blues */
$dark-blue: #000015;
$mid-blue: #005DB4;
$light-blue: #007CEE;
$off-white-blue: #C6C6FF;

/* Yellows */
$dark-yellow: #D8D800;
$mid-yellow: #FFFF27;
$light-yellow: #FFFF62;
$off-white-yellow: #FFFFD8;

/* Burgundies */
$dark-burgundy: #32000C;
$mid-burgundy: #590016;
$off-white-burgundy: #FFE2E9;

/* Shadows */
$solid-black: rgb(0, 0, 0);
$dark-shadow: rgba(0, 0, 0, 0.8);
$mid-shadow: rgba(0, 0, 0, 0.5);
$light-shadow: rgba(0, 0, 0, 0.2);

$button-white: #FAFAFA;
$button-dark: #EAEAEA;